:root {
    --cream-col: rgb(255, 244, 221);
    --dark-grad: linear-gradient(127deg, rgb(96, 107, 139) 0%, rgb(9, 51, 117) 100%);
    --light-grad: linear-gradient(127deg, rgb(255, 255, 255) 0%, rgb(155, 169, 206) 100%);
    --colour-3: #BAD7F2;
    --colour-4: #F2BAC9;
    --colour-5: rgb(216, 216, 216);
}

.bg-light-1 {
    background-color: white;
    color: black;
}

.bg-dark-1 {
    background: var(--dark-grad);
    color: white;
}

.bg-light-2 {
    background-color: var(--cream-col);
    color: black;
}

.bg-light-3 {
    background: var(--light-grad);
}