/* BODY */

body, html {
    font-size: clamp(16px, 1.3vw, 21px);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.page {
    font-family: 'Open Sans', sans-serif;
    height: max(100%, 650px);
    width: 100%;
}

* {
    box-sizing: inherit;
}


h1, h2, h3 {
    margin-top: 0;
}

h3 {

    font-style: italic;
}

/* Navbar */

.navbar {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
    transition: top 0.2s;

    background-color: #ffffffe9;
    font-family: "Roboto Condensed", sans-serif;
    padding: 5px;
}
.navbar a:not(.call-to-action) {
    text-decoration: none;
    color: black;
    position: relative;
    transition: color 0.3s ease-out;
}
.navbar a:not(.call-to-action):hover,
.navbar a:not(.call-to-action):focus {
    color: var(--col-primary);
}
.navbar a:not(.call-to-action)::after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    bottom: 0;
    left: -9%;
    height: 2px;
    background-color: var(--col-primary);
    transition: width 0.3s ease-out;
}
.navbar a:not(.call-to-action):hover::after,
.navbar a:not(.call-to-action):focus::after{
    width: 120%;
}

/* Header */

.header {
    padding: calc(60px + 2.5em) 2.5em 2.5em 2.5em;
    height: 100%;
    background-color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.live-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
    color: goldenrod
}
.live-total > h2, .live-total > p {
    margin: 10px;
}

.logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-arrow {
    cursor: pointer;
}
.scroll-arrow > i {
    color: black;
    user-select: none;
    font-size: 50px;
}

/* Footer */

.footer {
    font-size: 0.9em;
    padding: 8px;
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
    text-transform: capitalize;
}

/* Page padding */

.padded {
    padding: 2.5em;
}
.padded-horizontal {
    padding: 0 2.5em;
}
.padded-vertical {
    padding: 2.5em 0px;
}

/* Components */

.call-to-action {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 5px 20px;
    margin: 5px;
    text-decoration: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: fit-content;
    transition: transform 0.2s ease-out;
}
.call-to-action > * {
    color: white;
}
.call-to-action > *:first-child {
    margin-right: 5px;
}
.call-to-action:hover,
.call-to-action:focus {
    transform: scale(1.1);
}

/* Responsive images */
.image-div {
    min-height: 25em;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    background-repeat: no-repeat;
}

/* A non collapsable horizontally centre aligned row of items*/
.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* A collapsable column layout */
.collapsable-columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.collapsable-columns > * {
    width: 100%;
}


/* YouTube player classes */
.video-container {
    width: min(100%, 900px);
    padding-top: min(56.25%, 450px);
    position: relative;
}
.video-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Hover/Focus image */
.blur-reveal {
    min-height: 25em;
    position: relative;
}
.blur-reveal-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: filter .3s;
}
.blur-reveal-content,
.blur-reveal-description {
    position: absolute;
    color: white;
    transition: opacity .3s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.blur-reveal-description {
    opacity: 1;
    width: 100%;
    text-align: center;
    bottom: 0;
}
.blur-reveal-content {
    opacity: 0;
}
.blur-reveal:hover > .blur-reveal-bg,
.blur-reveal:focus > .blur-reveal-bg {
    filter: blur(3px) brightness(0.7);
}
.blur-reveal:hover > .blur-reveal-content,
.blur-reveal:focus > .blur-reveal-content {
    opacity: 1;
}
.blur-reveal:hover > .blur-reveal-description,
.blur-reveal:focus > .blur-reveal-description {
    opacity: 0;
}