/* Main page */

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
}

h1, h2, h3 {
    margin-top: 0;
}

h3 {
    font-style: italic;
}

/* Header */

.header {
    background-color: #ffffff;
    min-height: 100%;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.navbar {
    font-size: 1rem;
    padding: 8px;
}
.navbar a:not(:last-child) {
    text-decoration: none;
    color: black;
    position: relative;
    transition: color 0.3s ease-out;
}
.navbar a:not(:last-child):hover,
.navbar a:not(:last-child):focus {
    color: var(--col-primary);
}
.navbar a:not(:last-child)::after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    bottom: 0;
    left: -9%;
    height: 2px;
    background-color: var(--col-primary);
    transition: width 0.3s ease-out;
}
.navbar a:not(:last-child):hover::after,
.navbar a:not(:last-child):focus::after{
    width: 120%;
}

.header-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.live-total {
    font-size: 3em;
    color: goldenrod
}
.live-total > h2, .live-total > p {
    margin: 0;
}

.scroll-arrow {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 25px);
    cursor: pointer;
}
.scroll-arrow > i {
    color: black;
    user-select: none;
    font-size: 50px;
}

.footer {
    font-size: 0.9rem;
    padding: 8px;
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
    text-transform: capitalize;
}

/* Page padding */

.padded {
    padding: 2.5rem;
}
.padded-horizontal {
    padding: 0 2.5rem;
}
.padded-vertical {
    padding: 2.5rem 0px;
}

/* Components */

.call-to-action {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 5px 20px;
    margin: 5px;
    text-decoration: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: fit-content;
    transition: transform 0.2s ease-out;
}
.call-to-action > * {
    color: white;
}
.call-to-action > *:first-child {
    margin-right: 5px;
}
.call-to-action:hover,
.call-to-action:focus {
    transform: scale(1.1);
}

/* An image */
.image-div {
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    background-repeat: no-repeat;
}

/* A non collapsable horizontally centre aligned row of items*/
.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* A collapsable column layout */
.collapsable-columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.collapsable-columns > * {
    width: 100%;
}


/* YouTube player classes */
.video-container {
    width: min(100%, 900px);
    padding-top: min(56.25%, 450px);
    position: relative;
}

.video-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Hover/Focus image */
.blur-reveal > * {
    color: white;
    opacity: 0;
    backdrop-filter: none;
    transition: all 0.2s ease-in;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.blur-reveal:hover > *:not(.invert), blur-reveal:focus > *:not(.invert) {
    opacity: 1;
    backdrop-filter: blur(25px) brightness(0.7);
}
.blur-reveal > *.invert {
    opacity: 1;
}
.blur-reveal:hover > *.invert, blur-reveal:focus > *.invert {
    opacity: 0;
}