/* Mobile */
@media screen and (max-width: 900px) {
    body {
        font-size: 16px;
    }

    .mobile-hide {
        display: none;
    }
    .desktop-hide {
        display: inherit;
    }

    .padded-desktop {
        padding: inherit;
    }
    
    .image-div {
        min-height: 300px;
    }

    .collapsable-columns.mobile-2 > * {
        width: 50%;
        font-size: 0.8em;
    }
    .collapsable-columns.mobile-2 div.padded {
        padding: 30px;
    }
}

/* Desktop */
@media screen and (min-width: 900px) {
    body {
        font-size: 20px;
    }

    .navbar {
        font-size: 1.2rem;
    }

    .padded-desktop {
        padding: 10px 0
    }

    .collapsable-columns.desktop-1 {
        position: relative;
    }

    .collapsable-columns.desktop-1 > * {
        width: 100%;
    }

    .collapsable-columns.desktop-2 > * {
        width: 50%;
    }

    .collapsable-columns.desktop-3 > * {
        width: calc(100% / 3);
    }

    .collapsable-columns.desktop-4 > * {
        width: 25%;
    }

    .collapsable-columns.desktop-3 > *.span-2 {
        width: calc(200% / 3);
    }

    .mobile-hide {
        display: inherit;
    }
    .desktop-hide {
        display: none;
    }
}

@media screen and (max-width: 1100px) and (min-width: 900px) {
    body {
        font-size: 18px;
    }
}